/* For the Web Detective*/
h1{
    text-align: center;
}

/* For the nav bar */
header{
    height:100px;
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}


header li {
    margin: 20px;
}

header li a {
    color: black;
    text-decoration: none;
}

header img{
    height: 80px;
}

/*https://www.w3schools.com/howto/howto_css_navbar_image.asp*/
.bg-img {
    /* The image used */
    background-image: url("assets/adi-goldstein-EUsVwEOsblE-unsplash.jpg");
  
    min-height: 380px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8; /* Brightness of image */
  
    /* Needed to position the navbar */
    position: relative;
  }
  
  /* Position the navbar container inside the image */
  .container {
    position: absolute;
    margin: 5px;
    width: auto;
    right: 5px;
    opacity: 0.9;
  }
  
  /* The navbar */
  .topnav {
    overflow: hidden;
    background-color: #333;
    opacity: 1;
  }
  
  /* Navbar links */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .top-left {
    position: absolute;
    top: 15px;
    left: 16px;
    font-size: 30px;
    background: rgba(0, 0, 0, 0.6);
    
  }